/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../../../libs/assets/src/assets/font/nato-san-gg.css');

@font-face {
	font-family: 'gg sans';
	src: url('./assets/fonts/ggsans-Normal.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src: url('./assets/fonts/ggsans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src: url('./assets/fonts/ggsans-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src: url('./assets/fonts/ggsans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src: url('./assets/fonts/ggsans-ExtraBold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('./assets/fonts/NotoSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* You can add global styles to this file, and also import other style files */
:root {
	--white-500: #ffffff;
	--divider-color: #ff0000;
	--status-danger: #ff0000;
	--background-modifier-accent: #ff0000;
	--bg-overlay-chat: #141415;
	--background-primary: var(--white-500);
}

/* Your styles goes here. */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

::-webkit-scrollbar {
	width: 8px;
}

#channelList {
	margin-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2b2d31;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1a1b1e;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1a1b1e;
}

html,
body {
	--tw-bg-opacity: 1;
	background-color: rgb(30 30 30 / var(--tw-bg-opacity));
	font-family: 'gg sans', sans-serif;
}

//button voice control pannel
.button {
	line-height: 0;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	position: relative;
	color: #e1e1e1;
}

// btn icon voice control pannel
.button-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 6px 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.actionButtons {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-gap: 8px;
	padding-top: 4px;
	justify-content: space-between;
}

/* unread message style*/
.divider_b9338f {
	z-index: 1;
	height: 0;
	border-top: thin solid var(--background-modifier-accent);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 0 0 auto;
	pointer-events: none;
	box-sizing: border-box;
	--divider-color: var(--status-danger);
}

.hasContent_fea365 {
	position: relative;
	left: auto;
	right: auto;
}

.divider__8cf56 {
	margin-left: 1rem;
	margin-right: 0.875rem;
}

.group-spacing-16 .divider__8cf56.hasContent__8519e {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.isUnread__6f880 .content_d67847 {
	color: var(--divider-color);
}

.unreadPill__715fc {
	background-color: var(--divider-color);
}

.content_d67847 {
	display: block;
	flex: 0 0 auto;
	padding: 2px 4px;
	color: var(--text-muted);
	background: var(--bg-overlay-chat, var(--background-primary));
	line-height: 13px;
	font-size: 12px;
	margin-top: -1px;
	font-weight: 600;
	border-radius: 8px;
}

.isUnread__6f880 .content_d67847 {
	color: var(--divider-color);
}

.endCap__95d53 {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -7px;
	height: 13px;
	right: 0;
	font-size: 10px;
	line-height: 9px;
	font-weight: 700;
	padding: 0 4px 0 1px;
	border-radius: 0 4px 4px 0;
	text-transform: uppercase;
	color: var(--white-500);
	box-sizing: border-box;
	border-left: none;
}

.unreadPillCap__96b8d {
	display: block;
	position: absolute;
	left: -8px;
	top: 0;
	height: 13px;
}

.unreadPillCapStroke__12c0b {
	color: var(--divider-color);
	fill: var(--divider-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: white;
	transition: background-color 0.5s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #000000;
	font-size: small;
	caret-color: white;
	font-size: inherit;
	font-family: 'gg sans', 'Noto Sans', sans-serif;
}

// text more one line then hidden
.one-line {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: 100%;
}

// css inBox dropdrow nocation
#inBox [data-testid='flowbite-dropdown'] {
	min-width: 480px !important;
	left: -30px !important;

	ul {
		padding-bottom: 0;
	}
}

// css hover svg change color
.iconHover {
	svg:hover {
		path {
			fill: #e9e9e9;
		}
	}

	.iconRed:hover {
		path {
			fill: red;
		}
	}

	&.bgHover {
		svg:hover {
			background-color: #3b3b3b;
		}
	}
}

// css memberProfile
.memberProfile:hover {
	background-color: #3b3b3b;

	.nameMemberProfile {
		background-color: #3b3b3b;
	}
}

.footer-profile .memberProfile {
	padding: 2px 4px;
}

.footer-profile:hover .memberProfile {
	background-color: #3d3e45;

	.nameMemberProfile {
		background-color: #3d3e45;
	}
}

.footer-profile.lightMode:hover .memberProfile {
	background-color: #e1e8f1;

	.nameMemberProfile {
		background-color: #e1e8f1;
	}
}

// css friendList
.friendList {
	.nameMemberProfile {
		background-color: transparent;
	}
}

// css replyMessage
.replyMessage {
	svg {
		min-width: 32px;
	}
}

#scrollLoading::-webkit-scrollbar {
	width: 8px;
	margin-right: 0;
}

// css mainChat
#mainChat:has(#memberList) {
	[class='editorStyles_mentionSuggestions__-tu0h'] {
		left: -50px !important;
	}
}
.message-container {
	&.is-sending {
		opacity: 0.6;
    pointer-events: none;
	}

	&.is-error {
		.prose {
			* {
				color: #ff0000;
			}
		}
	}

	// start style markdown
	.prose {
		max-width: unset;
		padding-right: 0;

		* {
			color: #ccc;
		}

		&.lightMode * {
			color: #535353;
		}

		&.lightMode .lineText {
			span {
				line-height: 1.375rem;

				code {
					border: 1px solid #e3e5e8;
					background-color: #f2f3f5;
					border-radius: 6px;
					padding: 2px 6px;
					font-family: Consolas;
					font-size: 14px;
					font-weight: 500;
				}

				code::before {
					content: '';
				}

				code::after {
					content: '';
				}
			}
		}

		.lineText {
			.pre {
				position: relative;
				margin: 0 0 0 0;
				white-space: break-spaces;
				padding-right: 26px;
				min-width: 70%;
				max-width: 90%;

				.copy-icon {
					position: absolute;
					top: 4px;
					right: 4px;
				}

				.code {
					font-size: 14px;
					font-family: Consolas;
				}
			}

			span {
				line-height: 1.375rem;

				code {
					border: 1px solid #1e1f22;
					background-color: #2b2d31;
					border-radius: 6px;
					padding: 2px 6px;
					font-family: Consolas;
					font-size: 14px;
					font-weight: 500;
				}

				code::before {
					content: '';
				}

				code::after {
					content: '';
				}
			}

			ol {
				display: flex;
				flex-direction: column;
				margin: -4px 0;
				padding-left: 14px;
				line-height: 1.675rem;

				li {
					margin: 0;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				margin: -4px 0;
				padding-left: 14px;
				line-height: 1.675rem;

				li {
					margin: 0;
				}
			}

			> blockquote {
				margin: -4px 0;

				span {
					display: inline-block;
					line-height: 1.375rem;
				}

				> ul {
					display: flex;
					flex-direction: column;
					margin: 0 0 -6px 0;
					padding-left: 14px;
					line-height: 1.375rem;
				}
			}
		}
	}

	// end style markdown
}

// css video
#meet {
	video {
		border-radius: 10px;
		background-color: black;
	}

	video {
		width: 100%;
		height: 100%;
	}

	.showScreen {
		width: 80% !important;
		margin: auto;
		grid-column: 1/-1;
		order: -1;
	}

	button.showScreen,
	img.showScreen {
		width: unset !important;
	}
}

// thread-scroll
.thread-scroll::-webkit-scrollbar {
	width: 4px;
}

.thread-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.thread-scroll::-webkit-scrollbar-thumb {
	background: transparent;
}

.thread-scroll:hover::-webkit-scrollbar-thumb {
	background: #151515;
}

// attachment-scroll
.attachment-scroll::-webkit-scrollbar {
	height: 8px;
}

.attachment-scroll::-webkit-scrollbar-track {
	background: #2b2d31;
}

.message-channel-scroll::-webkit-scrollbar-thumb {
	background: #2b2d31;
}

// css tagLink of markdown
.tagLink {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// css modal img show
.modalImage {
	[role='dialog'] {
		padding: 0;
		border-radius: 10px;
		height: fit-content;
		width: unset;
		overflow: hidden;
	}

	[data-rmiz-ghost] {
		display: none;
	}
}

// css editorReactMention text box chat
#editorReactMention {
	max-width: calc(100% - 100px);
}

// emojiPicker
.emojiPicker {
	h2 {
		background-color: #2b2d31;
	}

	input {
		background-color: #1e1f22;
	}
}

// custom dark - light mode
.customScrollLightMode {
	// scrollbar-width: thin;
	// scrollbar-color: white #E1E1E1;
}

.customScrollLightMode::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.customScrollLightMode::-webkit-scrollbar-track {
	background: #ebedef;
}

.customScrollLightMode::-webkit-scrollbar-thumb {
	background-color: #c4c9ce;
	border-radius: 4px;
}

// custom dark - small light mode
.customSmallScrollLightMode::-webkit-scrollbar {
	width: 4px;
}

.customSmallScrollLightMode::-webkit-scrollbar-track {
	background: transparent;
}

.customSmallScrollLightMode::-webkit-scrollbar-thumb {
	background: transparent;
}

.customSmallScrollLightMode:hover::-webkit-scrollbar-thumb {
	background: rgb(205, 205, 205);
}

//input autofill
.lightInputAutoFill:-webkit-autofill,
.lightInputAutoFill:-webkit-autofill:hover,
.lightInputAutoFill:-webkit-autofill:focus,
.lightInputAutoFill:-webkit-autofill:active {
	-webkit-text-fill-color: #000000;
	box-shadow: none;
}

.darkInputAutoFill:-webkit-autofill,
.darkInputAutoFill:-webkit-autofill:hover,
.darkInputAutoFill:-webkit-autofill:focus,
.darkInputAutoFill:-webkit-autofill:active {
	-webkit-text-fill-color: #ffffff;
	box-shadow: none;
}

.lightEventInputAutoFill:-webkit-autofill,
.lightEventInputAutoFill:-webkit-autofill:hover,
.lightEventInputAutoFill:-webkit-autofill:focus,
.lightEventInputAutoFill:-webkit-autofill:active {
	-webkit-text-fill-color: #000000;
	box-shadow: inset 0 0 20px 20px rgb(223 225 229);
}

//0.3 opacity background
.bg-opacity-30 {
	--tw-bg-opacity: 0.3;
}

// Scrollbar mention

.lightModeScrollBarMention {
	::-webkit-scrollbar-track {
		background: #ebedef;
	}
	::-webkit-scrollbar-thumb {
		background-color: #c4c9ce;
		border-radius: 4px;
	}
}

.noselect {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Standard syntax */
}

// css icon
.iconWhiteImportant * {
	color: white !important;
}

.textWhiteHoverImportant:hover {
	color: white !important;
}

.hoverIconBlackImportant:hover button svg {
	color: black;
}

.applicationItemLargeSort {
}

.hidden-submit-field {
	.ui.form {
		.ui.button[type="submit"] {
			display: none;
		}
	}
	.ui.error.message {
		color: red;
		font-size: 12px;
	}
}

@media(max-width: 924px) {
	.applicationItemLargeSort{
		width: 23%;
	}
}

@media(max-width: 705px) {
	.applicationItemLargeSort{
		width: 31%;
	}
}

@media(max-width: 686px) {
	.applicationItemLargeSort{
		width: 48%;
	}
}

@media(max-width: 486px) {
	.applicationItemLargeSort{
		width: 100%;
	}
}

.applicationItemSmallSort {
}

@media(max-width: 888px) {
	.applicationItemSmallSort{
		width: 19%;
	}
}

@media(max-width: 748px) {
	.applicationItemSmallSort{
		width: 23%;
	}
}

@media(max-width: 608px) {
	.applicationItemSmallSort{
		width: 31%;
	}
}

@media(max-width: 468px) {
	.applicationItemSmallSort{
		width: 48%;
	}
}

@media(max-width: 328px) {
	.applicationItemSmallSort{
		width: 100%;
	}
}
