{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage",
      },
    ],
  ],
  "plugins": [],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-e2e"
            ]
          }
        ]
      ]
    }
  }
}