@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
:root {
	--white-500: #ffffff;
	--divider-color: #ff0000;
	--status-danger: #ff0000;
	--background-modifier-accent: #ff0000;
	--bg-overlay-chat: #141415;
	--background-primary: var(--white-500);
}
/* Your styles goes here. */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
	width: 8px;
}

#channelList {
	margin-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #151515;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #000;
}

html,
body {
	--tw-bg-opacity: 1;
	background-color: rgb(30 30 30 / var(--tw-bg-opacity));
	font-family: 'Manrope';
}

//button voice control pannel
.button {
	line-height: 0;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	position: relative;
	color: #e1e1e1;
}

// btn icon voice control pannel
.button-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 6px 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.actionButtons {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-gap: 8px;
	padding-top: 4px;
	justify-content: space-between;
}

/* unread message style*/
.divider_b9338f {
	z-index: 1;
	height: 0;
	border-top: thin solid var(--background-modifier-accent);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 0 0 auto;
	pointer-events: none;
	box-sizing: border-box;
	--divider-color: var(--status-danger);
}
.hasContent_fea365 {
	position: relative;
	left: auto;
	right: auto;
}
.divider__8cf56 {
	margin-left: 1rem;
	margin-right: 0.875rem;
}
.group-spacing-16 .divider__8cf56.hasContent__8519e {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
.isUnread__6f880 .content_d67847 {
	color: var(--divider-color);
}
.unreadPill__715fc {
	background-color: var(--divider-color);
}

.content_d67847 {
	display: block;
	flex: 0 0 auto;
	padding: 2px 4px;
	color: var(--text-muted);
	background: var(--bg-overlay-chat, var(--background-primary));
	line-height: 13px;
	font-size: 12px;
	margin-top: -1px;
	font-weight: 600;
	border-radius: 8px;
}
.isUnread__6f880 .content_d67847 {
	color: var(--divider-color);
}

.endCap__95d53 {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -7px;
	height: 13px;
	right: 0;
	font-size: 10px;
	line-height: 9px;
	font-weight: 700;
	padding: 0 4px 0 1px;
	border-radius: 0 4px 4px 0;
	text-transform: uppercase;
	color: var(--white-500);
	box-sizing: border-box;
	border-left: none;
}
.unreadPillCap__96b8d {
	display: block;
	position: absolute;
	left: -8px;
	top: 0;
	height: 13px;
}
.unreadPillCapStroke__12c0b {
	color: var(--divider-color);
	fill: var(--divider-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: white;
	transition: background-color 0.5s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #000000;
	font-size: small;
	caret-color: white;
	font-size: inherit;
	font-family: Manrope;
}

// text more one line then hidden
.one-line {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// css editor
#editor {
	.public-DraftEditor-content {
		div {
			display: block;
			div {
				clear: both;
				order: 2;
			}
			figure {
				order: 1;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 208px;
				height: 208px;
				padding: 8px;
				margin-top: 10px;
				margin-bottom: 25px;
				margin-right: 20px;
				background-color: #2b2d31;
				border-radius: 4px;
				float: left;
				&:first-child {
					margin-top: 0;
				}
				&::after {
					content: '';
					position: absolute;
					bottom: -17px;
					left: -50px;
					height: 2px;
					min-width: 500%;
					background-color: #1e1e1e;
				}
				img {
					object-fit: cover;
					max-width: 100%;
					max-height: 174px;
					border-radius: 4px;
				}
			}
		}
	}
}

// css inBox dropdrow nocation
#inBox [data-testid='flowbite-dropdown'] {
	min-width: 480px !important;
	left: -30px !important;
	ul {
		padding-bottom: 0;
	}
}

// css hover svg change color
.iconHover {
	svg:hover {
		path {
			fill: #e9e9e9;
		}
	}
	.iconRed:hover {
		path {
			fill: red;
		}
	}
	&.bgHover {
		svg:hover {
			background-color: #3b3b3b;
		}
	}
}

// css memberProfile
.memberProfile:hover {
	background-color: #3b3b3b;
	.nameMemberProfile {
		background-color: #3b3b3b;
	}
}

// css friendList
.friendList {
	.nameMemberProfile {
		background-color: transparent;
	}
}

// css replyMessage
.replyMessage {
	svg {
		min-width: 32px;
	}
}

// css InfiniteScroll
#scrollLoading {
	.infinite-scroll-component {
		margin-bottom: 20px;
	}
}

#scrollLoading::-webkit-scrollbar {
	width: 12px;
	padding-right: 5px;
}

// css mainChat
#mainChat:has(#memberList) {
	[class='editorStyles_mentionSuggestions__-tu0h'] {
		left: -50px !important;
	}
}

.prose {
	* {
		color: #ccc;
	}
	max-width: unset;
	padding-right: 48px;
}

.prose ol li {
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

.prose ol li ol {
	margin-bottom: 0;
	margin-top: 0;
}

.prose ul li {
	position: relative;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.prose ul li ul {
	margin-bottom: 0;
	margin-top: -10px;
}

.pre {
	position: relative;
}

.pre .copy-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 5;
}

.olProps {
	line-height: 20px;
}

.olProps li {
	line-height: 10px;
}

.liProps {
	line-height: 10px;
}
