@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
:root {
  --white-500: #ffffff;
  --divider-color: #ff0000;
  --status-danger: #ff0000;
  --background-modifier-accent: #ff0000;
  --bg-overlay-chat:#141415;
  --background-primary:var(--white-500);
}
/* Your styles goes here. */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

html, body {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity))

}

/* unread message style*/
.divider_b9338f {
  z-index: 1;
  height: 0;
  border-top: thin solid var(--background-modifier-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  pointer-events: none;
  box-sizing: border-box;
  --divider-color: var(--status-danger);
}
.hasContent_fea365 {
  position: relative;
  left: auto;
  right: auto;
}
.divider__8cf56 {
  margin-left: 1rem;
  margin-right: 0.875rem;
}
.group-spacing-16 .divider__8cf56.hasContent__8519e {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.isUnread__6f880 .content_d67847 {
  color: var(--divider-color);
}
.unreadPill__715fc {
  background-color: var(--divider-color);
}

.content_d67847 {
  display: block;
  flex: 0 0 auto;
  padding: 2px 4px;
  color: var(--text-muted);
  background: var(--bg-overlay-chat,var(--background-primary));
  line-height: 13px;
  font-size: 12px;
  margin-top: -1px;
  font-weight: 600;
  border-radius: 8px;
}
.isUnread__6f880 .content_d67847 {
  color: var(--divider-color);
}

.endCap__95d53 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7px;
  height: 13px;
  right: 0;
  font-size: 10px;
  line-height: 9px;
  font-weight: 700;
  padding: 0 4px 0 1px;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  color: var(--white-500);
  box-sizing: border-box;
  border-left: none;
}
.unreadPillCap__96b8d {
  display: block;
  position: absolute;
  left: -8px;
  top: 0;
  height: 13px;
}
.unreadPillCapStroke__12c0b {
  color: var(--divider-color);
  fill: var(--divider-color);
}